.idea
.DS_Store
.env
/node_modules
sessionId.txt

test/node_modules
test/cypress/screenshots
test/cypress/dom
test/cypress/videos
test/cypress/e2e/*
!test/cypress/e2e/test-spec/
test/mochawesome-report
test/sbvt_debug

test/typescript-test/node_modules
test/typescript-test/cypress/screenshots
test/typescript-test/cypress/dom
test/typescript-test/cypress/videos

test/webkit-test/node_modules
test/webkit-test/cypress/screenshots
test/webkit-test/cypress/dom
test/webkit-test/cypress/videos

test/npm-package-test/node_modules
test/npm-package-test/cypress/screenshots
test/npm-package-test/cypress/dom
test/npm-package-test/cypress/videos

test/version-control-test/below10/node_modules/
test/version-control-test/below10/cypress/screenshots
test/version-control-test/below10/cypress/dom
test/version-control-test/below10/cypress/videos/

/test/version-control-test/above10/node_modules/
test/version-control-test/above10/cypress/screenshots
test/version-control-test/above10/cypress/dom
test/version-control-test/above10/cypress/videos/