name: webkit-browser-check
#on: [push]
on: [pull_request]
jobs:
  cypress-run:
    runs-on: self-hosted
    strategy:
      fail-fast: false
      matrix:
        browser: [ webkit ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install node version 24
        uses: actions/setup-node@v3
        with:
          node-version: '24'

      - name: Install root dependencies
        run: npm install

      - name: Install test dependencies
        run: npm install
        working-directory: ./test/webkit-test

      - name: Install linux sharp
        run: npm install --include=optional sharp

      - name: Install webkit
        if: ${{ startsWith(matrix.browser, 'webkit') }}
        run: npm install playwright-webkit@1.34.0
        working-directory: ./test/webkit-test

      - name: Cypress run
        uses: cypress-io/github-action@v5
        with:
          quiet: true
          working-directory: ./test/webkit-test
          spec: cypress/e2e/*
          browser: ${{ matrix.browser }}

        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PROJECT_TOKEN: ${{ secrets.DEV_EXAMPLE_7 }}
          TEST_RUN_NAME: "${{ github.workflow }}—${{ runner.os }}—${{ github.ref }}"
          SBVT_SCM_BRANCH: ${{ github.head_ref || github.ref_name }}
          SBVT_SCM_COMMIT_ID: ${{ github.sha }}
          DEBUG: TRUE